.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeIn;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: text-color($primary-color);
        @include easeIn;
    }

    // turn button into a cross
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // rotate first line
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            
            // hide second line
            &:nth-child(2) {
                opacity: 0;
            }

            // rotate thrid line
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px)
            }
        }
    }
}

// pop-out menu overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden; // hide menu options

    &.show {
        visibility: visible; // show when menu btn clicked JS
    }

    &-branding, &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: rgba(darken($primary-color, 10), 0.95);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeIn;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    
    &-branding {
        background: rgba($primary-color, 0.7);
        transform: translate3d(0, 100%, 0);
        @include easeIn;
        
        &.show {
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/me.jpg');
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeIn;

        &.show {
            transform: translate3d(0, 0, 0);
        }

        &.current > a {
            background-color: rgba(20, 20, 20, 0.55);
            border-radius: 20px;
            padding: 10px 30px;
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 500;
        color: text-color($primary-color);
        text-decoration: none;
        @include easeIn;

        &:hover {
            color: $secondary-color
        }
    }
}
// delay the menu options 
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.5s;
    }
}